@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wg485h');
  src:  url('fonts/icomoon.eot?wg485h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wg485h') format('truetype'),
    url('fonts/icomoon.woff?wg485h') format('woff'),
    url('fonts/icomoon.svg?wg485h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arctext:before {
  content: "\1f4c4";
}
